<h4>Interoperability matrix</h4>

<table mat-table [dataSource]="jsonlanguage"  >

    
     
  

          <mat-chip-list class="colum"  >
            <mat-chip *ngFor="let chip of columns()" >
                <ng-container matColumnDef={{chip}} >
                    <th  mat-header-cell *matHeaderCellDef  class="{{columnsclass(chip)}}" (click)="download(chip)"> {{chip}} </th>
                    <td mat-cell *matCellDef="let element" class="colum-body" style="text-align: center;"> 

                        <mat-icon [hidden]="IsValidLenguage(element,chip)[1]" class="{{IsValidLenguage(element,chip)[0]}}">{{IsValidLenguage(element,chip)[0]}}</mat-icon> 
                        <label  [hidden]="IsValidLenguage(element,chip)[2]" class="{{IsValidLenguage(element,chip)[0]}}">{{IsValidLenguage(element,chip)[0]}}
                        <button class="empty">
                            <mat-icon  mat-icon-button [matMenuTriggerFor]="menuinfo" (click)="mychip=element" [hidden]="IsValidLenguage(element,chip)[3]" class="{{IsValidLenguage(element,chip)[0]}}">more_vert</mat-icon>
                        </button> </label> 
                    
                        <mat-menu #menuinfo="matMenu">
                            <button  type="button" class ="empty" data-bs-toggle="modal" href="#loading" (click)="Refactor()" >
                            <label style="color: #012970;cursor: pointer;" >{{element.refactorings}}</label></button>
                        </mat-menu>
                    </td>
                  </ng-container>
            </mat-chip>
          </mat-chip-list>

    <tr mat-header-row *matHeaderRowDef="columns()"></tr>
    <tr mat-row *matRowDef="let row; columns: columns();" [hidden]="hiddencolum(row)"></tr>
  </table>
