<h4>Interoperability matrix
  <button class="empty" style="position:absolute; right:25px;">
    <mat-icon  style="color:#012970;" mat-icon-button [matMenuTriggerFor]="legend" >help</mat-icon>
</button> 

<mat-menu #legend="matMenu" >
  <button class="empty" style="cursor: default;text-align: left;font-size: smaller;">
    <mat-icon class="check_circle" mat-icon-button>check_circle</mat-icon>
    The tool supports this characteristic.
  </button> 
  <div></div>
  <button class="empty" style="cursor: default;text-align: left;font-size: smaller;"> 
    <mat-icon class="cancel" mat-icon-button>cancel</mat-icon>
    The tool does not support this characteristic.
  </button>
  <div></div>
  <button class="empty" style="cursor: default;text-align: left;font-size: smaller;">
    <mat-icon class="remove_circle" mat-icon-button>remove_circle</mat-icon>
    The tool does not supports this characteristic but there is a refactoring. 
  </button>
  <div></div>
  <button class="empty" style="cursor: default;text-align: left;font-size: smaller;">
    <mat-icon class="remove_circle_valid" mat-icon-button>remove_circle</mat-icon>
    The tool does not supports this characteristic but there is not any instance.
  </button>
</mat-menu>
</h4>

<table mat-table [dataSource]="Hiddenrow()"  >
          <mat-chip-list class="colum"  >
            <mat-chip *ngFor="let chip of columns()" >
                <ng-container matColumnDef={{chip}} >
                    <th  mat-header-cell *matHeaderCellDef style="cursor: default;" class="{{columnsclass(chip)}}" > {{chip}} </th>
                    <td mat-cell *matCellDef="let element" class="colum-body"  [ngStyle]="{'text-align':chip == 'Language constructs' ? 'left' : 'center' }"> 
                        <mat-icon [hidden]="IsValidLenguage(element,chip)[1]" class="{{IsValidLenguage(element,chip)[0]}}">{{IsValidLenguage(element,chip)[0]}}</mat-icon> 

                        <label  [hidden]="!IsValidLenguage(element,chip)[1]" (mouseenter)="tooltip=element" (mouseleave)="tooltip=''" style="position: relative;">{{IsValidLenguage(element,chip)[0]}} 
                          <h6 *ngIf="ToolTipText(element,chip)[0]" style="color: rgba(65, 65, 65, 0.75);font-size: 10px;position: absolute;z-index: 9;">{{ToolTipText(element,chip)[1]}}</h6>
                        <button class="empty">
                            <mat-icon  mat-icon-button [matMenuTriggerFor]="menuinfo" (click)="mychip=element" [hidden]="IsValidLenguage(element,chip)[2]">more_vert</mat-icon>
                        </button> </label> 
                    
                        <mat-menu #menuinfo="matMenu">
                            <button  type="button" class ="empty" data-bs-toggle="modal" href="#loading" (click)="Refactor()" >
                            <label style="color: #012970;cursor: pointer;" >{{element.refactorings}}</label></button>
                        </mat-menu>
                    </td>
                  </ng-container>
            </mat-chip>
          </mat-chip-list>

    <tr mat-header-row *matHeaderRowDef="columns()"></tr>
    <tr mat-row *matRowDef="let row; columns: columns();" [hidden]="hiddencolum(row)"></tr>
  </table>
