<mat-drawer-container class="example-container" autosize>  
<h1 >Titulo</h1>
<h1>{{item}}</h1>

<button (click)="returnValues(itemValue2.value)">buscar un archivo escribiendo el nombre</button>
<input matInput #itemValue2  type="string" placeholder="nombre">
<div></div>
<button (click)="crearArbol()">crearArbol</button>
<div></div>
<button (click)="borrarArbol()">borrar</button>
<h2>Elegir documento </h2>

<button (click)="getArchivo(item)">busca el documento de la lista</button>
<select [(ngModel)]="item" >
  <option value="0">Selecciona una opción</option>
  <option *ngFor="let documento of documentos">
    {{documento}}
  </option>
</select>



<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}} 
      </div>
  
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
          role="group">
        <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>



  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>se ajusta el tamaño</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      permite ver texto extra 
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle() ; istoggle = !istoggle" >
      <mat-icon class="mat-icon-rtl-mirror">
        {{istoggle? 'chevron_left' : 'chevron_right'}}
      </mat-icon>menu lateral</button>
  </div>
  
</mat-drawer-container>


<!--      <div class="content" role="main">-->
  <!-- FM Editor component-->
  <!--<arbol></arbol>-->
  <!--<tree-checklist-example></tree-checklist-example>-->
  <!--<miarbol></miarbol>-->
  <!--<fm-editor></fm-editor>-->
  <!--<arbol></arbol>-->
  <!--<miarbol></miarbol>

          </div>    -->
