
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Others meta tags-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="FM Characterization Fact Label">
  <!-- <meta name="author" content="José Miguel Horcas"> -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Title -->
  <title>FM Characterization Fact Label</title>

  <!-- Custom fonts for this template-->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <script src="https://kit.fontawesome.com/d0a6ca53ae.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Google Fonts: Franklin Libre Black 900 (replacement for Franklin Gothic Heavy) -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap" rel="stylesheet"> -->

  <!-- Custom styles for this template-->
  <!-- <link href="css/sb_admin_2/sb-admin-2.min.css" rel="stylesheet">-->

  <!-- d3.js library -->
  <script src="http://d3js.org/d3.v7.min.js"></script>

  <!-- FM fact label visualization script -->
  <script src="js/fm_fact_label/fm_fact_label.js"></script>

  <!-- To save as files. -->
  <script src="js/FileSaver.js"></script>

<!-- ======= Header ======= -->
<header id="header" class="header  d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a  class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">RheaWeb</span>
      <button mat-icon-button (click)="drawer.toggle()" class="buttonmenu2">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog()" class="buttonmenu2">
        <mat-icon>help</mat-icon>
      </button>
    </a>
  </div>
  <!-- End Logo -->
  <nav class="header-nav ms-auto">


    <div class="row justify-content-end">
      <div class="col-lg-11">
        <div class="row justify-content-end">

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <a target="_blank" href="https://caosd.lcc.uma.es/" class=" img2 d-flex align-items-center pe-0">
              <img src="../assets/img/caosd.png" class="img2" alt="Profile">
            </a>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            
              <img src="../assets/img/logorhea.png" class="img1" alt="Profile">
            
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <a target="_blank" href="https://www.uma.es/" class=" img3 d-flex align-items-center pe-0">
              <img src="../assets/img/uma.jpg" alt="Profile">
            </a>
          </div>

        </div>
      </div>
    </div>
  </nav>
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<mat-drawer-container class="example-container" autosize>
  
<mat-drawer #drawer  mode="side">
<div class="card-body">
 <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <h2>Select Document </h2>
      </li>
      <li class="nav-item">
        <button class="btn-primary-search" (click)="returnValues(item)"><i class="fa fa-search"></i></button>
        <select class="btn-primary-select" [(ngModel)]="item"  >
          <option value="tree name">Select an option</option>
          <option *ngFor="let documento of documents">{{documento}}</option>
        </select>
      </li>
      <li class="nav-item">
        <div id="xslUpload">
          <label for="file-input">
            <button class="btn importar" type="button">Attach file</button>
          </label>
          <input class="file-input" (change)="changeListener($event)" id="file-input" type="file"/>
        </div>
        <div id="xslUpload">
          <label >
            <button class="btn importar" type="button" (click)="readThis(myfile)">Send file</button>
          </label>
        </div>
      </li>
    <input class="margin" type="text" [(ngModel)]="title">
    </ul>

</div>

</mat-drawer>


<!-- Main Page -->

<div></div>
<main id="" class="">
  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-6">
        <div class="card block">
          <div class="border">
            <div class="row">
              <div class="col-10">
                <h5>Features</h5>
              </div>
              <div class="col-1"></div>
              <div class="col col-sm-1">
                <button class="marginnegative" mat-menu-item [matMenuTriggerFor]="menumodel" >
                  <mat-icon >more_vert</mat-icon> 
                </button>
              </div>
            </div>
            <mat-menu #menumodel="matMenu">
              <a (click)="returnValues()">Get</a>
              <hr>
              <a (click)="SaveJson()">Download .json</a>
              <hr>
              <a (click)="SaveUVL()">Download .uvl</a>
              <hr>
              <a (click)="Refactor('all')">Refactoring</a>
              <hr>
              <a (click)="saveFile()">Send data to server</a>
            </mat-menu>
            <!-- Features Tree -->   
            <div class="d-flex flex-row flex-nowrap overflow-auto">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node">
                  <div [hidden]="!treeHideen(node)">
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                      </mat-icon>
                    </button>
                  </div>
                  <div [hidden]="treeHideen(node)">
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                  </div>
                  <div class="symbols">
                    <img src={{SymbolPerType(node)[2]}} #tooltip="matTooltip"  matTooltip={{SymbolPerType(node)[3]}}>
                  </div>
                  <div class="symbols">
                    <img src={{SymbolPerType(node)[0]}} #tooltip="matTooltip"  matTooltip={{SymbolPerType(node)[1]}}>
                  </div>
                  
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)= 'select(node)'>
                      <mat-icon class="mat-icon-rtl-mirror">
                        more_vert
                      </mat-icon>
                    </button>
                  <div class="margin" ></div>
                  <div  #tooltip="matTooltip"  matTooltip={{ToolTip(node)}} >{{node.name}}</div>                       
                </div>   
                <ul *ngIf="treeControl.isExpanded(node)">  
                  <ng-container matTreeNodeOutlet></ng-container> 
                </ul> 
                <!-- Menu Features Tree -->
                <mat-menu #menu="matMenu">
                  <a data-bs-toggle="modal" href="#sidebareditvalues">Edit values</a>
                  <hr>
                  <a data-bs-toggle="modal" href="#sidebarcreatechild">Create a child</a>
                  <hr>
                  <a data-bs-toggle="modal" href="#sidebarcreatebrother">Create brother</a>
                  <hr>
                  <a data-bs-toggle="modal" href="#sidebardeletebranch">Delete branch</a>
                  <div *ngIf="ToolTipRefa(node)[0]" #tooltip="matTooltip"  matTooltip={{ToolTipRefa(node)[1]}}>
                    <hr>
                    <button class="buttonmenu2" mat-icon-button [matMenuTriggerFor]="menurefactortree"(click) = "$event.stopPropagation()" >
                      Refactoring 
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </div>
                </mat-menu>
                <mat-menu #menurefactortree="matMenu">
                  <mat-list class="mat-chip-list-stacked"  >
                    <mat-list-item *ngFor="let refac of ListOfRefactors" [hidden]='RefactorvisibleFeature(refac)'   >
                      <button class="buttonmenu2" (click)="SelectChipRefactor(refac,'node')" >{{refac.name}}</button>
                    </mat-list-item >
                  </mat-list>
                </mat-menu>
              </mat-nested-tree-node>
            </mat-tree> 
            </div>
          </div>
        </div>
      </div>
                
      <!-- Info -->
      <div class="col-6 justify-content-center">
        <div class="card block">
          <div class="border">
            <div class="menu">
              <mat-chip-list class="mat-chip-list-stacked"  >
                <mat-chip class="bottom-style" *ngFor="let ref of ListOfRefactors" >
                  <label class="labelcenter">{{ref.name}}</label>
                </mat-chip>
              </mat-chip-list>
              <!--<input class="file-input" (change)="casFMTree($event.target)" id="file-input" type="file"/>-->
              <!--  <button class="bottom-style"  (click)="casFMTree()"> Refactort all</button> -->
              <button class="bottom-style"  (click)="Refactor('all')"> Refactort all</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Pruebas constraint -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card block">
              <!-- Constraints Text --> 
              <div class="border">
                <h5>Constraint</h5> 
                <cdk-virtual-scroll-viewport  [itemSize]="6 * 7" class="example-viewport" >
                <mat-selection-list #constraints [multiple]="false">
                  <mat-list-option *ngFor="let constrainTexto of jsonconstraintTexto" [value]="constrainTexto"
                    (click)='SelectedChange(constraints.selectedOptions.selected[0].value)'>
                    <div>
                      <div class="text"> 
                        {{jsonconstraintTexto.indexOf(constrainTexto)+1+". "}}
                        <button mat-icon-button [matMenuTriggerFor]="menuoptionsconstraintext" >
                          <mat-icon class="mat-icon-rtl-mirror" *ngIf="SymbolPerTypeCons(constrainTexto)[0]">
                            more_vert
                          </mat-icon>
                        </button>
                        {{constrainTexto}}
                      </div>
                    </div> 
                  </mat-list-option>   
                </mat-selection-list>
              </cdk-virtual-scroll-viewport>
              <mat-menu #menuoptionsconstraintext="matMenu">
                <button class="buttonmenu2" mat-icon-button [matMenuTriggerFor]="menurefactorcons"(click) = "$event.stopPropagation()" >
                  Refactoring 
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </mat-menu> 
              <mat-menu #menurefactorcons="matMenu">
                <mat-list class="mat-chip-list-stacked"  >
                  <mat-list-item *ngFor="let refac of ListOfRefactors" [hidden]='RefactorvisibleCons(refac)'   >
                    <button class="buttonmenu2" (click)="SelectChipRefactor(refac,'cons')" >{{refac.name}}</button>
                  </mat-list-item >
                </mat-list>
              </mat-menu>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card block">
              <!-- Constraints Tree -->
              <div class="border">
                <h5>Constraint Tree</h5>
                <mat-tree  [dataSource]="constraindataSource" [treeControl]="constraintreeControl" class="example-tree">
                  <mat-nested-tree-node  *matTreeNodeDef="let constrainnode; when: hasChild">
                    <div class="mat-tree-node">
                      <div [hidden]="!treeConsHideen(constrainnode)">
                        <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + constrainnode.name">
                          <mat-icon class="mat-icon-rtl-mirror">remove
                          </mat-icon>
                        </button>
                      </div>
                      <div [hidden]="treeConsHideen(constrainnode)">
                        <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + constrainnode.name">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{constraintreeControl.isExpanded(constrainnode) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                      </div>
                      {{constrainnode.type}} 
                      <button mat-menu-item [matMenuTriggerFor]="menuoptionsconstraintree" (click)= 'SelectCons(constrainnode)'>
                        <mat-icon>more_vert</mat-icon>
                      </button> 
                    </div>
                    <div [class.example-tree-invisible]="!constraintreeControl.isExpanded(constrainnode)" role="group">
                      <ng-container matTreeNodeOutlet></ng-container> 
                    </div>
                    <mat-menu #menuoptionsconstraintree="matMenu">
                      <a data-bs-toggle="modal" href="#sidebaroptionsconstraintree">Options</a>
                    </mat-menu>  
                  </mat-nested-tree-node>
                </mat-tree>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!--  -->
<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">

      <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">FM Fact Label</h6>
          <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Save as...</div>
                  <a class="dropdown-item" id="saveSVG" href="#">SVG</a>
                  <a class="dropdown-item" id="savePNG" href="#">PNG</a>

                  <div class="dropdown-divider"></div>
                  <div class="dropdown-header">Export to...</div>
                  <a class="dropdown-item" id="saveJSON" href="#">JSON</a>
                  <a class="dropdown-item" id="saveTXT" href="#">Plain text</a>
              </div>
          </div>
      </div>
 
      <div class="card-body">
          <h6 class="h6">Label configuration:</h6>
          <div class="mt-0 small">
             
              <div class="form-check form-switch">
                  <span class="me-2">
                          <input class="form-check-input" type="checkbox" id="collapseSubProperties" checked>
                          <label class="form-check-label" for="collapseSubProperties">Collapse/Expand sub-properties</label>
                  </span>
              </div>
              <div class="form-check form-switch">
                  <span class="me-2">
                          <input class="form-check-input" type="checkbox" id="collapseZeroValues">
                          <label class="form-check-label" for="collapseZeroValues">Collapse/Expand sub-properties with zero values</label>
                  </span>
              </div>
          </div>
      </div>
      
      <div class="card-body">
          <svg class="chart" id="FMFactLabelChart"></svg>
      </div>
  </div>
</div>
</mat-drawer-container>





<!--Modal Tree-->
<!-- Modal Modify values-->
<div class="modal fade" id="sidebareditvalues" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Modify values</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-10">
          <h5>Name
          <input matInput  type="string" [(ngModel)]="name"></h5>
          <hr>
          <h5>Type:
            {{type}}
            <button class="empty" (click)="visibleships=!visibleships">
            <mat-icon class="mat-icon-rtl-mirror">
              {{visibleships ? 'expand_more' : 'chevron_right'}}
            </mat-icon></button>
            <mat-list [hidden]="!visibleships">
              <mat-option *ngFor="let chip of listOfTypes" (click)="visibleships=!visibleships" (click)="ChangeType(chip)">{{chip}}</mat-option>
            </mat-list>
          </h5>
          <hr>
          <h5 [hidden]="cardhidden()[0]">Card_max
          <input matInput  type="number" [(ngModel)]="card_max" disabled={{cardhidden()[1]}}>
          <hr></h5>
          <h5 [hidden]="cardhidden()[0]" >Card_min
          <input matInput  type="number" [(ngModel)]="card_min" disabled={{cardhidden()[1]}}>
          <hr></h5>
          <input class="form-check-input" type="checkbox" [(ngModel)]="optional" > optional
          <hr>
          <mat-checkbox  color="primary" [(ngModel)]="abstract" ></mat-checkbox> abstract
          <hr>
          <h5>Attributes (name: value)
          <button class="empty" (click)="CreateAttribtues()" >
            <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
          </button></h5>
          <div *ngFor="let valor of attributes"  >
            <input type="string" [(ngModel)]="valor.name">
            <input type="string" [(ngModel)]="valor.value">
            <button class="empty" (click)="deleteAttribtues(valor)">
              <mat-icon class="mat-icon-rtl-mirror">clear</mat-icon>
            </button>
          </div>
          <hr>
          <h2>Save Changes</h2>
          <button (click)="ModifySelecction()" data-bs-dismiss="modal" class="btn btn-primary">update</button>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Create children-->
<div class="modal fade" id="sidebarcreatechild" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	  <div class="modal-content">
	    <div class="modal-header">
		    <h4 class="modal-title" id="exampleModalLabel">Create children</h4>
 		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	    <div class="modal-body">
		    <div class="col-10">
          <h3>Name</h3>
          <input matInput  type="string" [(ngModel)]="name">
          <div></div>
          <button (click)="CreateChildren()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
				  </div>
	 	  </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
	  </div>
	</div>
</div>
<!-- Modal Create brother -->
<div class="modal fade" id="sidebarcreatebrother" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	  <div class="modal-content">
		  <div class="modal-header">
			  <h4 class="modal-title" id="exampleModalLabel">Create brother</h4>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-10">
          <input matInput  type="string" [(ngModel)]="name">
          <button (click)="CreateBrother()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
		  	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			</div>
	  </div>
	</div>
</div>
<!-- Modal Delete-->
<div class="modal fade" id="sidebardeletebranch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		  <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Delete node</h2>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	    </div>
	    <div class="modal-body">
	      <div class="col-10">
          <h4>Are you sure?</h4>
          <button (click)="DeleteNode()" class="btn btn-primary" data-bs-dismiss="modal">Proceed</button>
			  </div>
	    </div>
      <div class="modal-footer">
	      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Go back</button>
	    </div>
	  </div>
  </div>
</div>

<!--Modal Constraint-->
<div class="modal fade" id="sidebaroptionsconstraintree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Options</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <!-- Logic Chip -->
            <div class="col-6">
              <div class="bordemodal">
                <h5>Logic chips</h5>
                <mat-chip-list class="mat-chip-list-stacked"  >
                  <mat-chip *ngFor="let chip of typesofcons" (click)="SelectChipFeature(chip)" >
                    {{chip}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <!-- Features Chip -->
            <div class="col-6">
              <div class="bordermodal">
                <h5>Features chips</h5>
                <cdk-virtual-scroll-viewport [itemSize]="6 * 7" class="example-viewport-chip" >
                  <mat-chip-list class="mat-chip-list-stacked" >
                    <mat-chip *ngFor="let chip of namesFeatures" (click)="SelectChipLogic(chip)">
                      {{chip}}
                    </mat-chip>
                  </mat-chip-list>
                </cdk-virtual-scroll-viewport>
              </div>
            </div>
          </div>
        </div>
        <!--Write list-->
        <div class="margin"></div>
        <div class="bordermodal">
          <p  >{{Writelist()}}</p>
          <button class="btn btn-secondary "  (click)="DeleteList()">Delete List</button>
        </div>
        <div class="col-12">
          <!--Buttons-->
          <div class="row">
            <div class="col-3"><button class="btn btn-primary btn-lg" (click)="CreateConsBrother()"> Insert brother </button></div>
            <div class="col-3"><button class="btn btn-primary btn-lg" (click)="CreateConsSon()"> Insert child </button></div>
            <div class="col-3"><button class="btn btn-primary btn-lg" (click)="ModifyCons()"> Edit Constrain </button></div>
            <div class="col-3"><button class="btn btn-primary btn-lg" data-bs-dismiss="modal" (click)="DeleteCons()"> Delete Constrain </button></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







                     







        <script type="text/javascript">
            // d3.json('fm_facts.json').then(drawFMFactTag);  
            var fmCharacterizationStr = `{{ data.fm_characterization_str | safe }}`;
            var fmCharacterizationJSONStr = `{{ data.fm_characterization_json_str | safe }}`;
            var fmFactsJSON = '{{ data.fm_facts | tojson | safe }}';
            var fmData = JSON.parse(fmFactsJSON);
            drawFMFactLabel(fmData);
        </script>

     