<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button (click)="sumar(aux,4)"    >suma 4</button>
  <button mat-menu-item>Item 2</button>
  <mat-checkbox class="example-margin" >Checked</mat-checkbox>
</mat-menu>
<div></div>
<button (click)="sumar(aux,aux2)"    >suma los valores</button>

<mat-form-field>
  <input matInput [(ngModel)]="aux" type="number" placeholder="Ingrese primer valor sin flechas subir/bajar">
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="aux2" type="number" placeholder="Ingrese segundo valor con">
</mat-form-field>

<div></div>

        <mat-label>texto</mat-label>
        <input matInput #itemValue2  placeholder="nombre">
        <button (click)="actualizarvalores(itemValue2.value)">actualiza los valores</button>
        <mat-checkbox class="example-margin" [(ngModel)]="marcado">Marcado</mat-checkbox>
        <button (click)="crearValor()">crea el objeto</button>
        <div></div>
        <button (click)="escribirvalores()">escribe los valores actuales</button>
        <button (click)="escribirlista()">escribe la lista</button>
        <div></div>
        <button (click)="eligeObjeto(identificador)">escribe el objeto en la posicion dada (objeto cero tiene posicion 1)</button>
        <input matInput [(ngModel)]="identificador" type="number" placeholder="posicion">
        <div></div>
       
        <button (click)="cambiar_estado(identificador)">cambia el estado </button>
        <hr>
        <hr>
        <div></div>
        <button (click)="anadir()">añade una rama aun doy problemas </button>
<div></div>
<div></div>

          <!--<mat-selection-list #shoes>
          <mat-list-option *ngFor="let Hijos of lista">
            {{Hijos}}
          </mat-list-option>
        </mat-selection-list>
        
        <p>
          Options selected: {{shoes.selectedOptions.selected.length}}
        </p> -->


<!--
          this.nombre = texto;
        aux=lista?.length || 0  ;
        this.identificador =aux;
        this.Hijos = new Array<Rama>() ;
        this.Padre = new Array<Rama>();
        this.marcado= false;
        this.indeterminado=false;
-->







<!-- 
<button mat-button [matMenuTriggerFor]="miMenu">soy un <menu></menu></button>
<mat-menu #miMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="segundomenu">menu</button>
  <button mat-menu-item>o quizas no</button>
</mat-menu>

<mat-menu #segundomenu="matMenu">
  <button mat-menu-item >primerboton</button>
  <button mat-menu-item >sboton</button>
</mat-menu>

 cambios aqui  

<button mat-button [matMenuTriggerFor]="periodicos">Periódicos</button>

<mat-menu #periodicos="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="argentina">Periódicos de Argentina</button>
  <button mat-menu-item [matMenuTriggerFor]="chile">Periódicos de Chile</button>
</mat-menu>

<mat-menu #argentina="matMenu">
  <a mat-menu-item href="https://www.lanacion.com.ar">La Nación</a>
  <a mat-menu-item href="https://www.clarin.com">Clarin</a>
  <a mat-menu-item href="https://www.ambito.com">Ambito</a>
  <a mat-menu-item href="https://www.infobae.com">Infobae</a>
  <a mat-menu-item href="https://www.cronista.com">Cronista</a>
</mat-menu>

<mat-menu #chile="matMenu">
  <a mat-menu-item href="https://www.emol.com">El Mercurio</a>
  <a mat-menu-item href="https://www.latercera.com">La Tercera</a>
  <a mat-menu-item href="https://www.lacuarta.com">La Cuarta</a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="buscadores">Buscadores de Internet</button>

<mat-menu #buscadores="matMenu">
  <a mat-menu-item href="https://www.google.com">Google</a>
  <a mat-menu-item href="https://www.yahoo.com">Yahoo</a>
  <a mat-menu-item href="https://www.bing.com">Bing</a>
  <a mat-menu-item href="https://duckduckgo.com">DuckDuckGo</a>
</mat-menu>
-->