<div>
  <h4 style=" display: flex; justify-content: space-between;">Features
    <button class="empty" [matMenuTriggerFor]="menumodel" >
      <mat-icon style="color: #012970;"class="empty">more_vert</mat-icon> 
    </button>
  </h4> 
</div>
  <div  class="d-flex flex-row flex-nowrap overflow-auto">

    
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild"  > 

      <div class="mat-tree-node"  *ngIf="!RelationFeature(node)" [ngStyle]="{'margin-left':marginFeature(node)+'px'}">
        <div *ngIf="!treeHideen(node)">
          <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </div>
        <div *ngIf="treeHideen(node)">
          <button mat-icon-button >
            <mat-icon >
            </mat-icon>
          </button>
        </div>
        <div class="symbols" >
          <img src={{SymbolPerType(node)[1]}}>  
          <img src={{SymbolPerType(node)[0]}}> 
        </div>
        <div class="margin" ></div>
        <div  class={{HiddenRefacfeature(node)[1]}} matTooltip={{ToolTip(node)}} >
          {{node.name}}{{SymbolPerType(node)[2]}}
        </div>     
         <button mat-icon-button [matMenuTriggerFor]="menu" (click)="select(node)" >
            <mat-icon class="mat-icon-rtl-mirror">
              more_vert
            </mat-icon>
          </button>                 
      </div>   
      <ul *ngIf="treeControl.isExpanded(node)">  
        <ng-container matTreeNodeOutlet></ng-container> 
      </ul> 
      <!-- Menu Features Tree -->
      <mat-menu #menu="matMenu">
        <a data-bs-toggle="modal" href="#sidebareditvalues">Edit</a>
        <hr>
        <a data-bs-toggle="modal" href="#sidebarcreatechild" >Create a child</a>
        <hr>
        <a data-bs-toggle="modal" href="#sidebarcreatebrother">Create brother</a>
        <hr>
        <a data-bs-toggle="modal" href="#sidebardeletebranch">Delete branch</a>
        <div *ngIf="ToolTipRefa(node)[0]" matTooltip={{ToolTipRefa(node)[1]}}>
          <hr>
          <button class="buttonmenu2" mat-icon-button [matMenuTriggerFor]="menurefactortree" (click) = "$event.stopPropagation()" >
            Apply Refactor
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-menu>
      <mat-menu #menurefactortree="matMenu">
        <mat-list class="mat-chip-list-stacked">
          <mat-list-item *ngFor="let refac of ListOfRefactors" [hidden]='RefactorvisibleFeature(refac)' >
            <button class="buttonmenu2"  data-bs-toggle="modal" href="#loading" (click)="SelectChipRefactor(refac)" style="text-align: left;">{{refac.name}}</button>
          </mat-list-item >
        </mat-list>
      </mat-menu>
    </mat-nested-tree-node>
  </mat-tree> 
  </div>

  <!--Menu options-->
<mat-menu #menumodel="matMenu" >
    <button  style="padding-left: 5px;" class ="empty" (click) = "$event.stopPropagation()" (click)="show_refacts_features_only=!show_refacts_features_only" matTooltip="Highlight Refactorings"  >
      <i class="bi bi-eye-fill" [hidden]="show_refacts_features_only"></i>
      <i class="bi bi-eye-slash-fill" [hidden]="!show_refacts_features_only"></i>  
    </button>
    <a (click)="show_refacts_features_only=!show_refacts_features_only" style="cursor: pointer;" (click) = "$event.stopPropagation()" >Highlight Refactorings</a>
  </mat-menu>