<h4>Semantics metrics</h4>

<table mat-table [dataSource]="jsonsemantic"  >
  <!-- Name Column -->
  <ng-container matColumnDef="Operation" >
    <th class="colum-header-lang" mat-header-cell *matHeaderCellDef> Operation </th>
    <td class="colum-body" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="Result" > 
    <th class="colum-header-lang" mat-header-cell *matHeaderCellDef style="text-align: right;"> Result </th>
    <td class="colum-body" mat-cell *matCellDef="let element" style="text-align: right;"> {{element.value}} </td>
  </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>