<header id="header" class="header  d-flex align-items-center" style="background-image: linear-gradient(to right,#012970 12%,#b3cfff , #fff ) ">
    <div class="d-flex align-items-center justify-content-between">
      <a  class="logo d-flex align-items-center">
        <div style="margin-top: 10px;">
        <h3 style= "color: #fff;" >RheaWeb</h3></div>
        <button mat-icon-button (click)="drawer.toggle()"  (click)="(bdrawer=!bdrawer)" >
          <mat-icon style= "color: #fff;" >{{bdrawer? 'chevron_right' : 'chevron_left'}}</mat-icon>
        </button>
      </a>
    </div>
    <!-- End Logo -->
    <nav class="header-nav " >
      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div style="margin-left: 350px;">
          <div class="row justify-content-end">
            
            <div class="col-lg-3  d-md-flex ">
              <img src="../assets/img/logorhea.png" style="width: 45%;" alt="Profile">
            </div>
            <div class="col-lg-3  d-md-flex " >
              <a target="_blank" href="https://caosd.lcc.uma.es/" style="width: 55%;">
                <img src="../assets/img/caosd_use.png"  alt="Profile">
              </a>
            </div>
            <div class="col-lg-3 d-md-flex ">
              <a target="_blank" href="https://www.uma.es/"  style="margin-top: 10%;width: 90%;">
                <img src="../assets/img/uma-logo-transparent.png" alt="Profile">
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </nav>
  </header>



  <mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer  class="color" mode="side">
      <button class="buttonmodal" style="background-color:#7c7c7c2f;margin-top: 3%; "(click)="showFM_Editor()">
        <h3 class="">FM Editor</h3>
      </button>  
      <div style="margin-top: 5%;"></div>
      <button  class="buttonmodal" style="background-color:#7c7c7c2f; margin-left: 15%;" (click)="showAbout()" >
        <h3 class="">About</h3>
      </button>
      <div style="margin-top: 5%;"></div>
      <button  class="buttonmodal" style="background-color:#7c7c7c2f;" (click)="showWindow3()" >
        <h3 class="">Window 3</h3>
      </button>
    
    </mat-drawer>

    <div [hidden]="windowFM_Editor"><mainpage></mainpage></div>
    <div [hidden]="windowAbout"><about></about></div>
    <div [hidden]="window3"> empty</div>