<main>
    <section class="section dashboard">
        <div class="row">
            <div style="margin-top: 2%; "></div>
            <!-- Card 1 -->
            <div  class="col-4">
                <div class="card block">
                    <div class="border">
                        <card1></card1>
                    </div>
                </div>
            </div>
            <!-- Card 3-->
            <div   class="col-4">
                <div class="card block">
                    <div class="border">
                        <card3></card3>
                    </div>
                </div>
            </div> 
            <!-- Features Tree -->  
            <div   class="col-6">
                <div class="card block">
                    <div class="border">
                        <FeatureTree></FeatureTree>
                    </div>
                </div>
            </div>   
            <!-- Info -->
            <div   class="col-6 ">
                <div class="card block">
                    <div class="border">
                        Info
                    </div>
                </div>
            </div>
            <!-- Pruebas constraint -->
            <div   class="container">
                <div class="row">
                    <!-- Constraints Text --> 
                    <div class="col-6">
                        <div class="card block">
                            <div class="border">    
                                <ConstraintsText></ConstraintsText>
                            </div>
                        </div>
                    </div>
                    <!-- Constraints Tree -->
                    <div class="col-6">
                        <div class="card block">
                            <div class="border">
                                <ConstraintsTree></ConstraintsTree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>