<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NumericalFM -->
      <package
            uri="rhea.metamodels.NumericalFMs"
            class="rhea.metamodels.NumericalFMs.NumericalFMsPackage"
            genModel="metamodels/NumericalFMs/NumericalFM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicFMs -->
      <package
            uri="rhea.metamodels.BasicFMs"
            class="rhea.metamodels.BasicFMs.BasicFMsPackage"
            genModel="metamodels/BasicFMs/BasicFMs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicFMs -->
      <package
            uri="rhea.metamodels.BasicFMs"
            class="rhea.metamodels.BasicFMs.BasicFMsPackage"
            genModel="metamodels/BasicFMs/BasicFMs.genmodel"/>
   </extension>

null
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NumericalFM -->
      <package
            uri="rhea.metamodels.DataTypes"
            class="rhea.metamodels.DataTypes.DataTypesPackage"
            genModel="metamodels/NumericalFMs/NumericalFM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicCTCs -->
      <package
            uri="rhea.metamodels.BasicCTCs"
            class="rhea.metamodels.BasicCTCs.BasicCTCsPackage"
            genModel="metamodels/BasicCTCs/BasicCTCs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CardinalityBasedFMs -->
      <package
            uri="rhea.metamodels.CardinalityBasedFMs"
            class="rhea.metamodels.CardinalityBasedFMs.CardinalityBasedFMsPackage"
            genModel="metamodels/CardinalityBasedFMs/CardinalityBasedFMs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComparativeCTCs -->
      <package
            uri="rhea.metamodels.ComparativeCTCs"
            class="rhea.metamodels.ComparativeCTCs.ComparativeCTCsPackage"
            genModel="metamodels/ComparativeCTCs/ComparativeCTCs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PropLogicCTCs -->
      <package
            uri="rhea.metamodels.PropLogicCTCs"
            class="rhea.metamodels.PropLogicCTCs.PropLogicCTCsPackage"
            genModel="metamodels/PropLogicCTCs/PropLogicCTCs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Utils -->
      <package
            uri="rhea.metamodels.Utils"
            class="rhea.metamodels.Utils.UtilsPackage"
            genModel="metamodels/Utils/Utils.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompletedFM -->
      <package
            uri="rhea.metamodels.CompletedFM"
            class="rhea.metamodels.CompletedFM.CompletedFMPackage"
            genModel="metamodels/CompletedFM/CompletedFM.genmodel"/>
   </extension>

</plugin>
