<button  class="empty" style="margin-top: 3%;"(click)="showGuide_drawer()">
  <h4>Guide <mat-icon> help_outline</mat-icon></h4>
</button>

<div style="margin-top: 5%;"></div>
 
<button class="empty" style="margin-top: 3%;" (click)="showFM_Editor_drawer()">
  <h4>FM Editor <mat-icon>account_tree</mat-icon></h4>
</button>  

<div style="margin-top: 5%;"></div>
 
<button  class="empty" style="margin-top: 3%;"(click)="showRepository_drawer()">
  <h4>Repository <img src="./assets/img/icons8-base-de-datos-20.png" style="size: 1px;"></h4>
</button>


<div style="margin-top: 5%;"></div>
  <button  class="empty" style="margin-top: 3%;"(click)="showAbout_drawer()">
    <h4>About us <mat-icon> account_circle</mat-icon></h4>
</button>