
<div class="card">{{bool&&bool2? Button():""}}
    <h4 class="title">Feature Models Repository</h4>
    <div style="margin: 40px; margin-top: -80px;">
        <button class="buttonmodal">Upload FM </button>
        <mat-form-field style="width: 75%;"> 
            <mat-label style="margin-left: 20px;" >Search</mat-label>
            <input matInput (keyup)="filter($event)" style="margin-left: 20px;"   placeholder="Search">
        </mat-form-field>
        <button class="buttonmodal">Download FM</button>
        <div class="mat-elevation-z8">
            <table style="width: 100%;" #repositorytable mat-table [dataSource]="dataSourcerepo"  matSort>
          
              
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let articulo"
                    data-bs-toggle="modal" href="#modalData"
                    (click)="modal(articulo)"> {{articulo.Name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Author}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Owner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Owner}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Ref">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref </th>
                    <td style="color: blue;" mat-cell *matCellDef="let articulo" (click)="web(articulo)">
                    <mat-icon [hidden]="!articulo.Ref">language</mat-icon></td>
                  </ng-container>
    
                  <ng-container matColumnDef="Year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Year}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Domain">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Domain}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Version">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Version}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Language_level">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Language_level </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Language_level}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="nFeatures">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> #Features </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.nFeatures}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="nConfigs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> #Configs </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.nConfigs}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Rating">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Rating}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="Format">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Format </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.Format}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef>
                      <input id="mycheckbox" type="checkbox" (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <input id="mycheckbox" type="checkbox" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                    </td>
                  </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
          </div>
    </div>
</div>