<div class="col-12 pe-3">
    <div class="card" style="min-width:400px;">
        <div class="hero">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-7   d-flex flex-column justify-content-center" style="padding: 50px;">
                    <h2 data-aos="fade-up">How is behind RheaWeb development</h2>
                    <h4 data-aos="fade-up" data-aos-delay="100">Lidia Fuentes
                    </h4>
                    <ul> Head of the CAOSD research group.
                    </ul>
                    <h5>Supervisor and team composition</h5>
                    <ul></ul>
                    <h4 data-aos="fade-up" data-aos-delay="100">Monica Pinto
                    </h4>
                    <ul> PhD.
                    </ul>
                    <h5>Supervisor and testing</h5>
                    <ul></ul>
                    <h4 data-aos="fade-up" data-aos-delay="100">José Miguel Horcas
                    </h4>
                    <ul> PhD. 
                    </ul>
                    <h5>back-end developer and tools' developer </h5>
                    <ul></ul>
                    <h4 data-aos="fade-up" data-aos-delay="100">Adriana Novoa
                    </h4>
                    <ul> Last year of grade.
                    </ul>
                    <h5>back-end developer and tools' developer</h5>
                    <ul></ul>
                    <h4 data-aos="fade-up" data-aos-delay="100">Sebastián Acebal
                    </h4>
                    <ul> Graduated.
                    </ul>
                    <h5>Front-end and data base developer</h5>

                </div>
                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img src="./assets/img/hero-img.png" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>
            </div>
        </div>
    </div>
</div>