<div class="col-12 pe-3">
    <div class="card" style="min-width:400px;">
        <div class="hero">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-7  d-flex flex-column justify-content-center" style="padding: 30px;">
                    <h2 data-aos="fade-up">How is behind RheaWeb development</h2>
                    <ul></ul>
                    <div class="row">
                        <div class="col-lg-5 ">
                            <h4 data-aos="fade-up" data-aos-delay="100">Lidia Fuentes</h4>
                            <ul>Full professor head of the CAOSD research group.</ul>
                            <h5>Supervisor and team composition</h5>
                        </div>
                        <div class="col-2">
                            <img src="./assets/photos/photo_Lidia.png" class="img-fluid" style="border-radius: 35%;">
                        </div> 
                    </div>
                    <ul></ul>
                    <div class="row">
                        <div class="col-lg-5 ">
                            <h4 data-aos="fade-up" data-aos-delay="100">Monica Pinto</h4>
                            <ul> Associate professor.</ul>
                            <h5>Supervisor and testing</h5>
                        </div>
                        <div class="col-2">
                            <img src="./assets/photos/photo_Monica.png" class="img-fluid" style="border-radius: 35%;">
                        </div> 
                    </div>
                    <ul></ul>
                    <ul></ul>
                    <div class="row">
                        <div class="col-lg-5 ">
                            <h4 data-aos="fade-up" data-aos-delay="100">José Miguel Horcas</h4>
                            <ul>  Assitant professor. </ul>
                            <h5>back-end developer and tools' developer</h5>
                        </div>
                        <div class="col-2">
                            <img src="./assets/photos/photo_Jose.png" class="img-fluid" style="border-radius: 35%;">
                        </div> 
                    </div>
                    <ul></ul>
                    <ul></ul>
                    <div class="row">
                        <div class="col-lg-5 ">
                            <h4 data-aos="fade-up" data-aos-delay="100">Adriana Novoa</h4>
                            <ul> Research support technician.</ul>
                            <h5>back-end developer and tools' developer</h5>
                        </div>
                        <div class="col-2">
                            <img src="./assets/photos/photo_Adriana.png" class="img-fluid" style="border-radius: 35%;">
                        </div> 
                    </div>
                    <ul></ul>
                    <ul></ul>
                    <div class="row">
                        <div class="col-lg-5 ">
                            <h4 data-aos="fade-up" data-aos-delay="100">Sebastián Acebal</h4>
                            <ul> Research support technician.</ul>
                            <h5>Front-end and data base developer</h5>
                        </div>
                        <div class="col-2">
                            <img src="./assets/photos/photo_Sebas.png" class="img-fluid" style="border-radius: 35%;">
                        </div> 
                    </div>
                </div>
                <div class="col-lg-5 " data-aos="zoom-out">
                    <img src="./assets/img/hero-img.png" class="img-fluid" style="margin-left: -80px;margin-top: 150px;border-radius: 50%;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>